{% if product.metafields.custom.inspired_by != blank %}
  <div class="flex items-center gap-2 mb-3">
    <img
      class="object-contain object-center bg-white"
      src="{{ product.metafields.custom.inspired_by.value.image |  image_url }}"
      alt="{{ product.metafields.custom.inspired_by.value.image.alt | escape }}"
      width="45"
      height="45">
    <div>
      <p class="text-sm my-0">Inspiriert von:</p>
      <h4 class="font-semibold my-0 line-clamp-1">{{ product.metafields.custom.inspired_by.value.name }}</h4>
    </div>
  </div>
{% endif %}

<div>
  {% if product.metafields.custom.original_retail_price != blank %}
    <div>(UVP: {{ product.metafields.custom.original_retail_price.value | money }})</div>
  {% endif %}
  {% if product.metafields.custom.scent_intensity != blank %}
    <div class="flex items-center gap-[5px]">
      Duftintensität:
      <span class="text-highlight leading-4">Ausdrucksstark</span>
      {% assign intensity = product.metafields.custom.scent_intensity.value | times: 1 %}
      <div class="flex gap-[5px] items-center justify-center ml-1">
        {% for i in (1..3) %}
          <div class="w-[8px] h-[8px] rounded-full {% if i <= intensity %}bg-black{% else %}bg-gray-300{% endif %} !inline-block"></div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>

{% assign selling_points = product.metafields.custom.bullet_points.value %}
{% if selling_points %}
  <ul id="atc_scroll_target" class="list-none pl-0">
    {% for point in selling_points %}
      <li>✅ {{ point }}</li>
    {% endfor %}
  </ul>
{% endif %}